img {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}
* {
    margin-top: 0px;
    margin-left: 0px;
}
body {
    overflow: hidden; /* Hide scrollbars */
}
canvas {
    width: 1364px;
    height: 615px;
    border: 1px solid black;
    background-color: rgb(58, 151, 45);
}